*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

:root {
  
  --theme-color: linear-gradient(#F0F1F5, #E6E7EA);
  --font-color: #1D253B;
  --font-color-alternative: #999999;
  --shadow-color: rgba(94, 94, 94, 0.3);
  --font-shadow-color: #c4c4c4;
  --border-color: "rgba(0, 2, 34, 0.2)";
  --line-color: #E8E9EB;
  --container-color: #fff;
  --menu-color: linear-gradient(to top, #354b46, #374d48, #394f4a, #3c524d, #3e544f);
  --font-menu-color: #e8e9eb;
  --menu-width: 19vw;
  --menu-options-width-container: 90%;
  --menu-options-width: 100%;
  --menu-height: 100vh;
  --menu-min-height: 1080px;
  --menu-display: block;
  --menu-margin: auto 0 auto auto;
  --external-height: 100vh;
  --external-border: none;
  --bg-button-color: rgb(36, 36, 36);
  --bg-effect-color: rgb(54, 54, 54);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


 /* cores inputs */
 --style-color-ink-lowest-contrast: rgba(4, 215, 42, 0.18);
 --style-color-ink-low-contrast: rgba(14, 32, 190, 0.3);
 --style-color-ink-medium-contrast: rgba(65, 65, 65, 0.304);

 /* detalhes input ao clicar no mesmo*/
 --style-color-interaction: #0c1f50;
 --style-color-interaction-minus-two: rgba(164, 201, 255, 0.539);
 --style-color-danger: #b50706;

 /* cor de fundo input */
 --style-color-bg-low-contrast: #F1F4FF;

 /* cor de fundo linha de baixo do input ao passar o mouse */
 --style-color-ink-high-contrast: #0c2f50;
 --style-color-bg-high-contrast: #ba0d0d;
}


a {
  text-decoration: none;
}

h2 {
color: var(--font-color);
font-weight: bold;
font-size: 1.8rem;
text-shadow: var(---shadow-color);
padding: 0;
}

h3 {
color: var(--font-color);
font-weight: bold;
font-size: 1.4rem;
text-shadow: var(---shadow-color);
padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: var(--menu-color);
}

.flex {
  display: flex;
  z-index: -1;
}

h4 {
  color: #333;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

p {
  color: #f2f2f2;
  font-weight: 100;
  font-size: 1rem;
}

button {
  height: 50px;
  width: 100%;
  background-color: rgb(62,62,62);
  color: white;
  padding: 0 20px;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover {
  cursor: pointer;
  background-color: #656565;
}

button:disabled {
  cursor:initial;
  color: rgb(194, 194, 194);
  background-color: #656565;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  width: 100%;
  height: var(--external-height);
  border-radius: var(--external-border);
  margin: auto;
  background-image: var(--theme-color);
  overflow-y: auto;
  overflow-x: hidden;
}

.maxWidth {
  width: 95%;
  margin: 0 auto;
}

.detailNotFound {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.initialContainer {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 15px 0;
}

.registerButtonContainer{
  width: 100%;
  height: auto;
  margin: 15px 0;
}
.registerButton{
  display: flex;
  justify-content: space-between;
  background-color: #444444;
  width: 170px;
  height: 40px;
}

.registerButton .MuiSvgIcon-root {
height: 20px;
}



div.style-input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 100%;
}


.input-margin-right {
  margin-right: 10px;
  color: var(--font-color);
}

/* Input*/
.style-input-filled > input {
  border: none;
  width: 100%;
  color: #444;
  height: 3.5rem;
  border-radius: 5px;
  font-size: 1.0625rem;
  padding-left: 0.875rem;
  line-height: 147.6%;
  padding-top: 1.1rem;
  padding-bottom: 0.5rem;
}

.style-input-filled > select {
  border: none;
  width: 100%;
  color: #444;
  height: 3.5rem;
  border-radius: 5px;
  font-size: 1.0625rem;
  padding-left: 0.875rem;
  line-height: 147.6%;
  padding-top: 1.1rem;
  padding-bottom: 0.5rem;
}

.style-input-filled > input:focus {
  outline: none;
}

.style-input-filled > select:focus {
  outline: none;
}

.style-input-filled > .style-input-label {
  position: absolute;
  top: 0.9375rem;
  left: 0.875rem;
  line-height: 147.6%;
  color: var(--style-color-ink-medium-contrast);
  transition: top 0.2s;
}

.style-input-filled > input:hover {
  background: var(--style-color-interaction-minus-two);
  border-color: var(--style-color-ink-high-contrast);
}

.style-input-filled > select:hover {
  background: var(--style-color-interaction-minus-two);
  border-color: var(--style-color-ink-high-contrast);
}

.span > input:hover {
  color: #fff;
}

.style-input-filled > input:focus + .style-input-label,
.style-input-filled > input:valid + .style-input-label {
  top: 0;
  font-size: 0.9375rem;
  margin-bottom: 32px;
}

.style-input-filled > select:focus + .style-input-label,
.style-input-filled > select:valid + .style-input-label {
  top: 0;
  font-size: 0.9375rem;
  margin-bottom: 32px;
}

.style-input-filled:not(.style-input-danger)
  > input:focus
  + .style-input-label {
  color: var(--style-color-interaction);
}

.style-input-filled:not(.style-input-danger)
  > select:focus
  + .style-input-label {
  color: var(--style-color-interaction);
}

.style-input-filled:not(.style-input-danger) > input:focus {
  border-color: var(--style-color-interaction);
}

.style-input-filled:not(.style-input-danger) > select:focus {
  border-color: var(--style-color-interaction);
}

/** DANGER **/

.style-input-filled.style-input-danger > .style-input-label,
.style-input-filled.style-input-danger > .style-input-helper {
  color: var(--style-color-danger);
}

.style-input-danger > svg {
  fill: var(--style-color-danger);
}

.style-input-danger > input {
  border-color: var(--style-color-danger);
}

.style-input-filled > input {
  background: var(--style-color-bg-low-contrast);
}

.style-input-filled > select {
  background: var(--style-color-bg-low-contrast);
}

.error{
  color: red;
}

.lineStyled {
  margin: 30px auto;
}




@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    width: 100vmax;
    height: 100vmax;
  }
  .content {
    margin: inherit;
  }
}

@media screen and (min-width: 480px) and (max-width: 599px) {
  .container {
    width: 100vmax;
    height: 100vmax;
  }
  .content {
    margin: inherit;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .container {
    width: 100vmax;
    height: 100vmax;
  }
  .content {
    margin: inherit;
  }
}



@media screen and (min-width: 801px) and (max-width: 1024px) {

}

@media screen and (min-width: 1025px) and (max-width: 1280px) {

}

@media screen and (min-width: 1281px){

}
